@media (max-width: 991px) {
    .promo {
        .promo__wrapper {
            align-items: center;
        }
        .header {
            justify-content: space-around;
            &__official {
                margin-top: 10px;
                font-size: 15px;
                span {
                    font-size: 15px;
                }
            }
            &__contacts {
                align-items: center;
            }
            &__phone {
                margin-top: 5px;
                font-size: 15px;
            }
        }
    }
    .advant {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__items {
            margin-top: 20px;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 28px;
                text-align: center;
            }
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            width: 500px;
            align-items: center;
        }
            .button {
                &_submit {
                    width: 46%;
                }
            }
    }
    .carousel {
        &__inner.slick-initialized.slick-slider.slick-dotted {
            width: 520px;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            display: flex;
            justify-content: space-evenly;
            li {
                list-style-type: none;
                width: 100px;
                height: 10px;
                background-color: rgb(233, 33, 33);
                button {
                    display: none;
                }
            }
            .slick-active {
                background-color: green;
            }
        }

    }
    .catalog {
        &__content.catalog__content_active {
            justify-content: space-around;
        }
        .title {
            font-size: 28px;
        }
        &__tabs {
            .catalog__tab {
                width: 170px;
            }
        }
        &__content {
            .catalog-item {
                width: 284px;
            }
        }
    }
}
@media (max-width: 767px) {
    .catalog {
        .title {
            font-size: 20px;
        }
        &__tabs {
            .catalog__tab {
                width: 120px;
                div {
                    font-size: 12px;
                }
            }
        }
        &__content {
            .catalog-item {
                width: 335px;
            }
        }
    }
    .reviews {
        &__items {
            flex-direction: column;
            align-items: center;
        }
        .reviews__text {
            margin-top: 15px;
            text-align: center;
            margin-left: 15px;
            padding-right: 20px;
        }
    }
}
@media (max-width: 575px) {

    .promo {
        &__wrapper {
            align-items: center;
        }
            .promo__header {
                font-size: 25px;
                text-align: center;
            }
            .promo__subheader {
                font-size: 18px;
                text-align: center;
            }
            .promo__icons {
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            .promo__icon {
                margin-top: 25px;
            }
        .header {
            flex-direction: column;
            justify-content: center; 
            &__official {
                margin-top: 10px;
                font-size: 20px;
                span {
                    font-size: 18px;
                }
            }
            &__contacts {
                align-items: center;
            }
            &__phone {
                margin-top: 5px;
            }
            .button {
                margin-top: 15px;
                font-size: 15px;
                width: 170px;
                height: 50px;
            }
        }

    }
	.advant {
		.title {
			font-size: 18px;
		}
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__items {
			margin-top: 35px;
		}
	}
    .consultation {
        .consultation__descr {
            text-align: center;
            font-size: 15px;
            margin-top: 15px;
        }
        .title {
            &_left {
                font-size: 18px;
                text-align: center;
            }
        }
        .feed-form {
            width: 334px;
            align-items: center;
        }
            .button {
                &_submit {
                    width: 68%;
                }
            }

    }

    .carousel {
        &__inner.slick-initialized.slick-slider.slick-dotted {
            width: 275px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            display: flex;
            justify-content: space-evenly;
            li {
                list-style-type: none;
                margin-top: 15px;
                width: 40px;
                height: 10px;
                background-color: rgb(233, 33, 33);
                button {
                    display: none;
                }
            }
            .slick-active {
                background-color: green;
            }
        }

    }
    .catalog {
        .catalog__tabs {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
            .catalog__tab {
                width: 225px;
                margin-bottom: 15px;
                div {
                    font-size: 18px;
                }
            }
        }
        .catalog__content {
            margin-top: 30px;
            .catalog-item {
                width: 275px;
            }
        }
    }
    .reviews {
        &__items {
            flex-direction: column;
            align-items: center;
        }
        .reviews__text {
            text-align: center;
            margin-left: 15px;
            padding-right: 20px;
        }
    }

}
