@media (max-width: 991px) {
    .header {
        justify-content: space-around !important;
        &__official {
            margin-top: 10px;
            font-size: 15px !important;
            span {
                font-size: 15px !important;
            }
        }
        &__contacts {
            align-items: center !important;
        }
        &__phone {
            margin-top: 5px;
            font-size: 15px !important;
        }
    }
    .promo {
        &__wrapper {
            align-items: center !important;
        }
    }
    .advant {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__items {
            margin-top: 20px;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 28px;
                text-align: center;
            }
        }
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        width: 500px !important;
        align-items: center;
    }
    .button {
        &_submit {
            width: 46% !important;
        }
    }
}
@media (max-width: 575px) {
    .header {
        flex-direction: column;
        justify-content: center !important; 
        &__official {
            margin-top: 10px;
            font-size: 20px !important;
            span {
                font-size: 18px !important;
            }
        }
        &__contacts {
            align-items: center !important;
        }
        &__phone {
            margin-top: 5px;
        }
    }
    .button {
        margin-top: 15px;
        font-size: 15px !important;
        width: 170px !important;
        height: 50px !important;
    }
    .promo {
        &__wrapper {
            align-items: center !important;
        }
        &__header {
            font-size: 25px !important;
            text-align: center;
        }
        &__subheader {
            font-size: 18px !important;
            text-align: center;
        }
		&__icons {
			flex-direction: column;
			align-items: center;
            width: 100% !important;
		}
		&__icon {
			margin-top: 25px;
		}
    }
	.advant {
		&__title {
			font-size: 18px !important;
		}
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__items {
			margin-top: 35px;
		}
	}
    .consultation {
        .title {
            &_left {
                font-size: 18px;
                text-align: center;
            }
        }
        &__descr {
            text-align: center;
            font-size: 15px !important;
            margin-top: 15px;
        }
    }
    .feed-form {
        width: 334px !important;
        align-items: center;
    }
    .button {
        &_submit {
            width: 68% !important;
        }
    }

}
