.button {
    width: 153px;
    height: 32px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        background-color: rgb(214, 105, 71);
    }
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 67px;
        &:hover {
            background-color: rgb(214, 105, 71);
        }
    }
    &_submit {
        width: 100%;
        height: 58px;
        font-size: 16px;
        &:hover {
            background-color: rgb(214, 105, 71);
        }
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
        &:hover {
            background-color: rgb(214, 105, 71);
        }
    }
}