.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 53px 56px 54px;
    }
    &__addr {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        margin-bottom: 38px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    &__social-item {
        margin-right: 27px;
    }
    &__map {
        iframe {
            width: 100%;
            height: 630px;
            border: 0;
        }
    }
}
